# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

public/media
node_modules
dist
dist-ssr

.next
.env.production


# Local env files (do not commit)
.env
.env.local

